@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(187, 185, 185);
    overflow-x: hidden;
    
}
.Segment {
    color: teal;
}
.Grid {
    background-color:gainsboro;
    justify-content: end;
}

.Container {
  margin-top: 25px;
  box-shadow: 10px 10px grey;
}
.Pager {
float: right;
}


h2 {
  color: teal;
 
}
.ResultsContainer {
  margin-bottom: 35px;
  box-shadow: 10px 10px grey;
  
}

  table {
    max-width: 960px;
    margin: 10px auto;
    position: relative;
  }
  
  tr:nth-child(even) {
    background: #e8eeef;
  }
  

 
